Fabric==1.10.0
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
Pygments==1.6
binaryornot==0.3.0
boto==2.15.0
cookiecutter==0.7.2
docutils==0.12
ecdsa==0.11
gnureadline==6.3.3
ipython==2.2.0
numpy==1.9.0
pandas==0.14.1
paramiko==1.14.0
pycrypto==2.6.1
python-dateutil==2.2
pytz==2014.7
requests==2.4.1
six==1.8.0
vboxapi==1.0
virtualenv==1.11.6
wsgiref==0.1.2
